@import "https://fonts.googleapis.com/css?family=Oswald:700";


.has-text-orange{
    color:#41a6ff!important
}
.button.is-orange{
    background-color:#41a6ff;
    border-color:transparent;
    color:#fff
}
.button.is-orange.is-outlined{
    background-color:transparent;
    border-color:#41a6ff;
    color:#41a6ff
}
.tag:not(body).is-orange{
    background-color:#41a6ff;
    color:#fff
}
.input.is-orange,.textarea.is-orange{
    border-color:#41a6ff
}
.frans-no-click{
    position:absolute;height:100%;width:100%
}
body, html{
    background-color:#1b182b
}.container{
    max-width:1364px
}
.serie-background{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;filter:blur(7px);
    box-shadow:inset 0 0 100px #000;z-index:0
}
.serie-background:before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:.7;content:'';
}
.navbar.is-dark{
    border-bottom:none;
    background-color:#282248;
    font-size:1.2rem;
    padding:10px 0;
}
.navbar.is-dark .navbar-brand .navbar-link.is-active,.navbar.is-dark .navbar-brand .navbar-link:hover,.navbar.is-dark .navbar-brand>a.navbar-item.is-active,.navbar.is-dark .navbar-brand>a.navbar-item:hover{
    background-color:initial!important;
    color:initial!important;
}
.navbar.is-dark input::-webkit-input-placeholder{
    color:#b6bbbb
}
.navbar.is-dark input:-ms-input-placeholder{
    color:#b6bbbb
}
.navbar.is-dark input::placeholder{
    color:#b6bbbb
}
.navbar.is-dark input.input{
    background-color:#111;
    color:#fff;
    outline:none;
    border-color:#ff7d13
}
.page-footer.hero.is-dark{
    background-color:#111;
    border-top:1px solid rgba(255,125,18,.5)
}
.pagination-link.is-current{
    background-color:#41a6ff;
    border-color:#41a6ff;
    color:#fff
}
.list-series{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-left:-5px;
    margin-right:-5px;
    justify-content:center;
    padding:10px
}
.list-series 
img{
    display:block
}
.list-series>.serie-card{
    width:calc(50% - 10px);
    margin:3px
}
@media screen and (min-width:640px){
    .list-series{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;
        flex-wrap:wrap;
        margin-left:-5px;
        margin-right:-5px;
        justify-content:center;
        padding:10px}
    .list-series img{
        display:
        block
    }
    .list-series>.serie-card{
        width:calc(25% - 5px);
        margin:1px
    }
}
@media screen and (min-width:1024px){
    .list-series{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;
        flex-wrap:wrap;
        margin-left:-5px;
        margin-right:-5px;
        justify-content:center;padding:10px
    }
    .list-series img{
        display:block
    }
    .list-series>.serie-card{
        width:calc(19.99997% - 10px);
        margin:5px
    }
}
.serie-card{
    position:relative
}
.serie-card .image{
    padding-top:143.33333333333334%
}
.serie-card .image img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:1rem .2rem 0 0
}
.serie-card .tag.year{
    position:absolute;
    right:0;
    top:0;
    border-radius:0 .2rem 0 .2rem
}
.serie-card .tag.airing{
    position:absolute;
    left:0;
    top:0;
    border-radius:.2rem 0 .2rem 0
}
.serie-card .tag.type{
    position:absolute;
    right:5px;
    bottom:2rem
}
.serie-card .title{
    position:absolute;
    bottom:0;
    width:100%
}
.serie-card .title h3 a{display:block;background-color:rgba(0,0,0,.8);margin:6px;border-radius:.2rem;line-height:150%;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.serie-card .overlay-dark{background:rgba(0,0,0,.4);position:absolute;top:0;left:0;height:100%;width:100%;border-radius:.2rem .2rem 0 0;cursor:pointer;opacity:0;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}.serie-card:hover .overlay-dark{opacity:1}.serie-card:hover .tag,.serie-card:hover .title{display:none}.serie-card .description{display:none;position:absolute;top:0;right:0;color:#fff;overflow-y:auto;height:100%;padding:.5rem;margin:1rem 0;border-top:1px solid rgba(255,255,255,.8);border-bottom:1px solid rgba(255,255,255,.8);height:calc(100% - 2rem);right:5%;width:90%;padding:.5rem}.serie-card:hover .description{display:block}.page-home__slider-container{padding-bottom:0}.page-home__latest-chapters{padding-top:0;padding-bottom:1rem}.page-home__latest-series{padding-top:0;padding-bottom:0}body,button,input,select,textarea{font-family:oswald,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,fira sans,droid sans,helvetica neue,Helvetica,Arial,sans-serif}.is-family-primary{font-family:oswald,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,fira sans,droid sans,helvetica neue,Helvetica,Arial,sans-serif!important}.is-family-secondary{font-family:oswald,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,fira sans,droid sans,helvetica neue,Helvetica,Arial,sans-serif!important}.is-family-sans-serif{font-family:oswald,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,fira sans,droid sans,helvetica neue,Helvetica,Arial,sans-serif!important}
